.Item.Developer {
  text-align: center;
}

.FooterContainer {
  background-color: #126798;
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 270px; */
}

.Footer {
  padding: 30px 20px;
  width: 1000px;
  display: inherit;
  color: white;
  justify-content: space-around;
  /* border: 2px solid black; */
}

.Item {
  /* border: 1px solid red; */
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
}


.Item.Form {
  width: 300px;
  border-left: 1px solid white;
  padding-left: 60px;
}

.Form-group {
  display: inherit;
  justify-content: center;
  flex-direction: column;
  padding: 10px 5px;
}

.Form-group input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: inset 0 -0.2em rgb(0, 0, 0, .4);
  outline: 0;
  font-size: 1.5em;
  text-align: center;
  font-family: sans-serif;
  font-weight: 530;
}

.Form-group label {
  font-size: 1.5em;
  text-align: center;
}

.btnPrimary:active {
  animation-name: toggle;
  animation-timing-function: ease-out;
  animation-duration: .8s;
}

@media screen and (max-width: 768px) {
  .Footer {
    flex-wrap: wrap;
  }
  .Item.Form {
    border-left: none;
    padding-left: 0;
  }
  .btnPrimary {
    align-self: center;
    max-width: 100%;
    width: 83%;
  }
}


.Checklist-form {
  padding: 10px;
}

.Checklist-form input {
  margin-right: 5px;
  margin-bottom: 10px;
}

.Item.Comentarios label, textarea {
  margin-bottom: 20px;
}

textarea {
  background-color: #ffffffd1;
  color: black;
}

@media screen and (max-width:600px) {
  .Item.Comentarios {
    width: 80%;
  }
  .Item.Form {
    width: 90%;
  }
}

@media screen and (max-width:392px) {
  .Footer {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width:350px) {
  .Item.Form {
    width: auto;
    align-items: center;
  }
  .Form-group {
    padding-left: 0;
    margin-left: 0;
    width: 90%;
    align-items: center;
    align-self: center;
  }
  .Form-group label, .Form-group input {
    width: 90%;
    font-size: 1.2em;
  }
  .Checklist-form {
    text-align: center;
  }
  .Item.Comentarios label {
    /* text-align: center; */
    color: #0d212d;
    font-size: 1.1em;
    text-decoration: underline;
    font-weight: bold;
    /* padding-left: 20px; */
  }
  textarea {
    width: 100%;
    height: 150px;
  }
  .btnPrimary {
    max-width: 100%;
    width: 83%;
  }
}