.Modal {
  max-width: 768px;
  width: auto;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  background:  white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  z-index: 3;
  height: auto;
}

.social {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.Icons {
  display: flex;
  justify-content: space-around;
  width: 150px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.Icon {
  font-size: 2.4em;
  /* border: 1px solid yellow; */
}

.fa-github {
  color: rgb(47, 47, 47); 
}

.Modal-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -25px;
  top: -25px;
  border-radius: 50%;
  border: none;
  background: #171c30;
  color: white;
  cursor: pointer;
}

.Modal-close:after {
  content: "X";
  font-weight: bold;
  font-size: 30px;
}

.Overlay {
  background: rgba(0,0,0,.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s ease-in;
  z-index: 3;
}
.Overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-form-group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  color: #126798;
  align-items: center;

}

.Labelactive {
  font-size: 12px;
  color: #7bb6b6;
}

/* .modal-form-group input:focus {
  margin-top: 10px;
  font-size: 20px;
} */

.modal-form-group input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  /* box-shadow: inset 0 -0.2em rgb(0, 0, 0, .4); */
  outline: 0;
  margin-bottom: 5px;
  font-size: 1em;
  padding-top: 5px;
}


.form-group.registry {
  height: 100%;
  margin: 0;
}


.formButton {
  margin-top: 10px;
  padding-top: 5px;
  background: #126798;
  border: none;
  outline: 0;
  min-width: 100px;
  padding: 12px 6px;
  border-radius: 4px;
  align-self: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  text-transform: uppercase;
}

.formButton.btncenter {
  width: 200px;
}

.Wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template: 80% 20% / repeat(2, 1fr);
  grid-template-areas: "col1 col2" "col3 col3";
  padding: 0 9px;
  height: 80vh;
}


.col:nth-child(1) {
  grid-area: col1;
}
.col:nth-child(2) {
  grid-area: col2;
  border-left: 3px dashed #126798;
  padding-left: 20px;
}
.col:nth-child(1) h2 {
  color: #126798;
  text-align: center;
}
.col:nth-child(1) h3 {
  font-size: 1.5em;
  font-weight: initial;
  text-align: justify;
}
.col:nth-child(1) h4 {
  font-size: 1.5em;
  color: #7acc2d;
  font-weight: bold;
  text-align: center;
}


.col:nth-child(3) {
  grid-area: col3;
  text-align: center;
  padding-top: 10px;
 
}




@media screen and (max-width: 768px) {
  .Modal {
    max-width: 80%;
    font-size: .8em;
    top: 50px;
    padding-bottom: 30px;
  }
 
  .col:nth-child(2) {
    padding: 0;
  }

  .Icons {
    width: 100%;
    flex-wrap: wrap;
  }
  .Icons a {
    margin: 8px 8px;
  }
}

@media screen and (max-width: 500px) {
  .Modal {
    top: 50px;
  }
  .col:nth-child(2) {
    border: 1px solid #126798;
  }
}

@media screen and (max-width: 385px) {
  .Wrapper {
    grid-template-columns: 40% 60%;
    font-size: .9em;
  }
}

@media screen and (max-width: 385px) {
  .Wrapper {
    grid-template-columns: 38% 66%;
    font-size: .8em;
  }
  .formButton.btncenter {
    width: 100%;
  }
  .col:nth-child(1) {
    font-size: .73em;
    flex-wrap: wrap;
    display: flex;
  }
}