.post-container {
  display: flex;
  width: auto;
  /* border: 1px solid red; */
}
.post-col-one {
  width: 65%;
  border-right: 3px dashed #126798;
  text-align: center;
}

.post-col-two {
  width: 100%;
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* border: 1px solid greenyellow; */
  padding-top: 2px;
  padding-bottom: 2px;
  width: 95%;
}

.form-group label {
  padding-bottom: 4px;
}

.form-group input {
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  height: 30px;
  outline: 0;
  font-size: 1.3em;
  overflow-x: scroll;
  text-align: center;
}

.form-group input:focus {
  border: 1px solid #126798;
}

.post-col-one h2 {
  color: #126798;
}

.post-col-one h4 {
  color: #7acc2d;;
}

.Textarea-description {
  background-color: #e0e0e0;
  color: black;
  font-size: 1.4em;
}

@media screen and (max-width: 676px) {
  .post-container {
    height: 80vh;
  }
  .form-group {
    max-width: auto;
    overflow-x: scroll;
  }
  .form-group input {
    max-width: 260px;
  }
}

@media screen and (max-width:515px) {
  .form-group {
    max-width: 90%;
  }
  .form-group input {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  .post-col-one {
    height: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formButton {
    width: 90%;
  }
}

@media screen and (max-width:475px) {
  .Textarea-description {
    width: 100%;
    font-size: 1.2em;
  }
}

@media screen and (max-width:298px) {
  .post-container {
    font-size: .8em;
  }
  .formButton {
    font-size: .8em;
    min-width: 100%;
  }
  .post-col-one {
    /* align-self: flex-start; */
    height: 100%;
    justify-content: space-evenly;
    border-right: 1px dashed #126798;
    margin-left: 1.5px;
  }
  .Textarea-description {
    width: 100%;
    font-size: .8em;
  }
}